<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <title>Mensa and Wetter</title>
    <link href="/styles.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
      {{>header}}
      <div class="container-fluid">
        <div class="container">
          {{#if closed}}
            <span class="option">{{closed}}</span>
          {{else}}
          {{#each options}}
          <div class="card">
            <div class="content">
                <div class="row">
                  <div class="col-md-11 col-sm-11 col-xs-10">
                        <span class="option">{{this.title.de_DE}}</span>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-2">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12" id="description">
                    <span class="contents">{{this.content}}</span>
                  </div>
                </div>
            </div>
          </div>
          {{/each}}
          {{/if}}
        </div>
      </div>
      {{>footer}}
  </body>
</html>
