body{
  background-color: #ffffff;
}
.container{
  width: 90%;
  margin: 0 auto;
  height: auto;
  max-width: 600px;
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
}
.card{
  margin: 0 auto 10px;
  border-radius: 5px;
  width: 90%;
  height: 85px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  box-sizing: border-box;
}
.card:hover{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0,0.2);
  transition: 0.5s;
}
p#header{
  font-size: 0.8em;
  text-align: center;
  color: #868686;
}
p#footer{
  font-size: 8pt;
  text-align: center;
  color: #868686;
}
.option{
  font-family: 'Georgia';
  font-size: 1.1em;
  font-weight: bold;
}
.contents{
  font-family: 'Trebuchet MS';
}
div#description{
  overflow: hidden;
  max-height: inherit;
  text-overflow: ellipsis;
  height:auto;
}
.day{
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
h4#date{
  text-align:center;
  font-weight: bold;
}
